.justify-end {
  justify-content: flex-end;
}
.flex-grow-0 {
  flex-grow: 0;
}

.background-screen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
  opacity: 1;
  transition: height 0.4s ease, opacity 0.3s ease;
  z-index: 8;
  &--active {
    height: 100%;
    background: $c-dark;
  }
  &--hidden {
    height: 100%;
    background: $c-dark;
    opacity: 0;
  }
}
